<h1>Student Form</h1>

<%= form_tag students_path do %>

  <!-- First Name -->
  <label>First Name: </label><br>
  <%= text_field_tag :'first_name' %><br>

  <!-- Last Name -->
  <label>Last Name: </label><br>
  <%= text_field_tag :'last_name' %><br>

  <!-- Submit -->
  <%= submit_tag "Submit Student" %>

<% end %>
